/* All sections header sytle */

.sections__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sections__header::before,
.sections__header::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #d7d7d7;
}

.sections__header::before {
    margin-right: 10px; 
}

.sections__header::after {
    margin-left: 10px; 
}

.sections__header h6 {
    padding: 4px 16px 0 16px;

    font-size: 18px;
    letter-spacing: .075em;
    font-weight: 500;
    line-height: 1;

    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    color: #151515;
}

/* Base container style */

.base__container__width {
    padding: 0px 19.5%;
}