
.trending__products__container {
    width: 100%;
}

.trending__products__list {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.trending__products__list > .img__bcg__container, 
.trending__products__list > .products__list {
    width: 50%;
}

.trending__products__list > .img__bcg__container {
    background-image: url('../../images/trending__products/image-map-1-570x715.webp');
    background-repeat: no-repeat;
}


.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__list > .card {
    width: 50%;
    padding: 0px 15px;

}

.products__list > .card > .product__card__top {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f4f4f4;
}

.product__card__top > button {
    margin-top: 60px;
    opacity: 0;
    position: absolute;
    padding: 13px 13px 10px 13px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.075em;

    text-transform: uppercase;
    font-family: "Teko";
    color: #151515;

    background-color: #fff;
    transition: all .2s ease;

}

.product__card__top:hover > button {
    opacity: 1;
    margin-top: 0;
}

.product__card__top > button:hover {
    background-color: #dab57a;
    color: #fff;
}

.products__list > .card > .product__card__top > img {
    transition: all .3s ease;
}

.products__list > .card:hover .product__card__top > img {
    transform: scale(1.1);

}
/* Products card style */

/* .product__card__top {
    width: 270px;
    height: 280px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.product__card__top > button {
    position: absolute;
}

.products__card__bottom {
    padding: 15px 0 20px;
    text-align: center;
}

.products__card__bottom > h5 {
    font-size: 24px;
    font-weight: 400;

    font-family: "Teko";
    color: #151515;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.products__card__bottom >  p {
    font-size: 18px;
    font-family: "Teko";

    color: #dab57a;
    letter-spacing: .05em;
} */ */



/* benefits__container styeles */

.benefits__container {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits__card {
    position: relative;
    width: 370px;
    height: 145px;
    padding: 20px;
    border: 1px solid #d7d7d7;
}


.benefits__card::before {
    content: '';
    position: absolute;
    top: 6px; left: 6px; right: 6px; bottom: 6px;
    border: 1px solid #d7d7d7;

}